.term-deposit-calculator {
  text-align: center;
  background-color: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.input-controller {
  display: flex;
  flex-direction: row;
  gap: 2em;
  text-align: left;
  font-size: 20px;
}

input, select {
  width: 100%;
}